@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

body{
  background-image: url("./assets/img/background.png");
  background-size: 100% ;  
    background-size: unset; 
}
div.card-header {
    font-size: large;
   }
   
   div.card {
     margin-top: 10px
   }
   
   .table {
     margin-top: 10px
   }
   
   a {
     text-decoration: none; 
   }
   a:hover {
     text-decoration: underline;
   }